<br/>
<div class="container" >
  <mat-card style="background-color: #446CB3">
  <div class="row" >
    <div class="col-md-4 col-md-offset-4">
                    <h1 style="color: #fff;">Order Tracking</h1>
                </div>
                
  </div>
  </mat-card>
  </div>
<br/>
<div class="container" >
<mat-card>
  <div class="row" >
    <div class="col-md-4 col-md-offset-4">
  <span class="error" *ngIf="error">{{error}}</span>
  <button mat-button style="width:250px;" (click)="loginGoogle()" id="google"><b>Login With Google</b></button>
</div></div>
</mat-card>
</div>